<div class="container">

    <h1>Listado de Encuestas</h1>

    <div class="d-flex justify-content-between">
        <button class="btn btn-success mb-3" routerLink="add">Nueva Encuesta</button>
        <button type="button" class="btn btn-secondary mb-3" (click)="back()">Volver</button>
    </div>
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for (item of encuestasList; track $index) {
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
                <td>
                    <button class="btn btn-primary" routerLink="edit/{{ item.id }}">Editar</button>
                    <button class="btn btn-danger" (click)="deleteEncuestas(item.id)">Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
