<div class="container mt-5">
  <h3>Agregar Encuesta <br /></h3>
  <form (ngSubmit)="onGuardar()">
    <div class="mb-3">
      <label for="nombre" class="form-label"
        >Ingrese el nombre de la Encuesta:</label
      >
      <input
        id="nombre"
        class="form-control"
        name="nombre"
        [(ngModel)]="newEncuesta.nombre"
        type="text"
        placeholder="Nombre de la encuesta"
      />
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descrici&oacute;n:</label>
      <input
        type="text"
        class="form-control"
        id="descripcion"
        name="descripcion"
        [(ngModel)]="newEncuesta.descripcion"
        placeholder="Descripci&oacute;n de la encuesta"
        required
      />
    </div>

    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-secondary" (click)="back()">
        Volver
      </button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
</div>
