<img src="unipc.jpg" alt="Logo" class="background-img" />
<div class="container mt-5">
  <h2>Gesti&oacute;n de Tablas</h2>
  <ul class="list-group">
    <li class="list-group-item">
      <button routerLink="/encuestas">G. Encuestas</button>
    </li>
    <li class="list-group-item">
      <button routerLink="/preguntas">G. Preguntas</button>
    </li>
    <li class="list-group-item">
      <button routerLink="/tipo-pregunta">G. Tipo Pregunta</button>
    </li>
  </ul> <br>
  <div class="d-flex justify-content-between mb-3">
    <button type="button" class="btn btn-danger" (click)="back()">Cerrar Sesi&oacute;n</button>
  </div>
</div>
